*{
    margin: 0;
    padding: 0;
    font-family: Darker Grotesque;
}


h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 48px;
}

header{
    background-color: #85CDF5;
}

header nav a{
    color: #333;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

header nav a:link{
    color: #333;
    text-decoration: none;
}

header nav a:visited{
    color: #333;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

.navPrincipal{
    color: #333;
}

.listaNav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 250px;
    padding: 10px;
}

.listaNav img{
    margin-right: 42.81px;
}

main{
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: #FFFFFF;
}

.container-formulario{
    border: 2px solid #333;
    padding: 40px 60px;
    width:  100%;
    max-width: 800px;
    text-align: center;
}

#titulo{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

.inputGrupo {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.inputGrupo label {
    font-size: 24px;
    margin-bottom: 5px;
}

.inputGrupo input, 
.inputGrupo textarea {
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

.inputLinha {
    display: flex;
    gap: 20px;
}

.container-botao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.salvar {
    background-color: #2E567E; 
    color: white;
    border: none;
    padding: 10px 60px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}



.footer{
    background-color: #333333;
    padding: 60px 10%;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
}

.div1{
    display: flex;
    align-items: center;
    gap: 40px;
}

.mapa{
    width: 250px;
    height: 150px;
    border-radius: 4px;
}

.listaFooter li{
    color: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.botaoFooter{
    line-height: 20px;
    width: 134px;
    height: 30px;
    font-size: 25px;
    display: inline-block;
    background-color: #DEB959;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 8px;
    padding-left: 10px;
    vertical-align: middle;
    flex-wrap: wrap;
    white-space: nowrap;
}

.botaoFooter:link{
    color: #333333;
}

.botaoFooter:visited{
    color: #333333;
}

.botaoFooter:hover{
    color: #333333;
}

.div2{
    color: #FFFFFF;
    text-align: center;
}

.div2 p{
    font-size: 16px;
    margin-bottom: 10px;
}

.pataFooter{
    width: 100px;
    height: auto;
}

