*{
    margin: 0;
    padding: 0;
    font-family: Darker Grotesque;
}

h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 48px;
}

header{
    background-color: #85CDF5;
}

header nav a{
    color: #333;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

header nav a:link{
    color: #333;
    text-decoration: none;
}

header nav a:visited{
    color: #333;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

.navPrincipal{
    color: #333;
}

.listaNav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 250px;
    padding: 10px;
}

.listaNav img{
    margin-right: 42.81px;
}



/*----------MAIN----------*/

.body{
    background-color: azure;
}

main{
    margin: 30px 150px
}

.lobo{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.text{
    display: flex;
    flex-direction: column;
}

.text h1{
    font-size: 40px;
    font-weight: 600;
    padding: 10px 0px 5px 0;
}

.text p{
    font-size: 14px;
    font-weight: 600;
}

.imgLobo img{
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}


form{
    display: flex;
    flex-direction: column;
    padding: 26px 0;
    gap: 20px;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.linha{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

form input{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 18px;
    color: black;
}

form label{
    font-weight: 500;
    font-size: 20px;
}

.campo{
    display: flex;
    flex-direction: column;
}

.pequeno{
    flex:0.25;
}

.grande{
    flex: 3.75;
}

.botao {
    display: flex;
    justify-content: center;
    margin: 10px
}

#adotar{
    border-width: 1px;
    border: 1px solid #333333;
    padding: 7px 20px;
    background-color: #2C5680;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    color:azure;
    text-align: center;
}


/*----------FOOTER----------*/

.footer{
    background-color: #333333;
    padding: 60px 10%;
}

.containerFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
}

.div1{
    display: flex;
    align-items: center;
    gap: 40px;
}

.mapa{
    width: 250px;
    height: 150px;
    border-radius: 4px;
}

.listaFooter li{
    color: #FFFFFF;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.botaoFooter{
    line-height: 20px;
    width: 134px;
    height: 30px;
    font-size: 25px;
    display: inline-block;
    background-color: #DEB959;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 8px;
    padding-left: 10px;
    vertical-align: middle;
    flex-wrap: wrap;
    white-space: nowrap;
}

.botaoFooter:link{
    color: #333333;
}

.botaoFooter:visited{
    color: #333333;
}

.botaoFooter:hover{
    color: #333333;
}

.div2{
    color: #FFFFFF;
    text-align: center;
}

.div2 p{
    font-size: 16px;
    margin-bottom: 10px;
}

.pataFooter{
    width: 100px;
    height: auto;
}