.mainListaLobinhos {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 80px;
}

.h3{
  font-weight: 700;
}

.idade{
  font-weight: 300;
}

.descricaoLobinho{
  font-weight: 400;
  line-height: 20px;
}

.pesquisasLobinhos {
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 40px 10px;
  margin-left: 100px;
}

.botaoLobo{
  background-color: #DEB959;
  color: white;
  width: 130px;
  height: 35px;
  font-size: 20px;
  align-items: center;
  padding: 0;
  padding-bottom: 5px;
  border: none;
}

.botaoLobo:link{
  text-decoration: none;
  color: white;
}

.botaoLobo:visited{
  text-decoration: none;
  color: white;
}

.botaoLobo:hover{
  color: white;
}

#barraDePesquisa{
  width: 808px;
  height: 30px;
}

#verAdotados{
   color: white;
}

.filtroAdotados{
  margin-top: 10px;
  color: #353535;
  font-weight: 700;
}

.containerAdotados{
  display: flex;
}

.listCard {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cardLobinho {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  padding: 10px;
}

.listCard > li:nth-child(even) .cardLobinho {
  flex-direction: row-reverse;
}

.cardLobinho img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
}

.dadosLobinho {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.botaoAdotar{
  height: 45;
  width: 107px;
  padding: 5px;
  background-color: #DEB959;
  text-align: center;
  position: absolute;
  margin-left: 80px;
  color: white;
}

.botaoAdotar:link{
  text-decoration: none;
}

.botaoAdotar:visited{
  text-decoration: none;
}


.adotado{
  background-color: #7AAC3A;
}

.paginacao{
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

