*{
    margin: 0;
    padding: 0;
    font-family: Darker Grotesque;
}

h2{
    color: #DEB959;
    font-weight: 700;
    font-size: 48px;
}

header{
    background-color: #85CDF5;
}

header nav a{
    color: #333;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

header nav a:link{
    color: #333;
    text-decoration: none;
}

header nav a:visited{
    color: #333;
    text-decoration: none;
}

header nav a:hover{
    text-decoration: underline;
}

.navPrincipal{
    color: #333;
}

.listaNav{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 300px;
}

#imgHeader{
    background-image: url(/assets/Group.png);
}

.listaNav img{
    margin-right: 42.81px;
}

.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(/assets/loboSec1.png);
    background-size: cover;
    background-position: center 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.section1 p{
    line-height: 25px;
    opacity: 0.9;
}

.container1{
   max-width: 1400px;
}

#texto1{
    font-size: 96px;
    margin-bottom: 100px;
    font-weight: 700;
}


.paragrafo{
    font-size: 30px;
    line-height: 25px;
    font-weight: 400;
}

.divisoria{
    width: 99px;
    height: 5px;
    background-color: white;
    margin: 20px auto;
}

.section2{
    background-color: #2C5680;
    height: 333px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container2{
    margin-left: 10%;
    margin-right: 10%;   
}

.container2 p{
    margin-top: 15px;
    color: #FFFFFF;
    font-size: 24px;
}

.section3{
    padding: 60px 0;
    background-color: #333;
    min-height: 625px;
    
}

.container3{
    text-align: center;
}

.listaC3{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
    gap: 60px;
    padding: 0;
}

.itemC3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.card{
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 131px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 20px;
}

.tituloC3{
    color: #FFFFFF;
    font-size: 34px;
    line-height: 100%;
}

.textoC3{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 400;
    line-height: 20px;
}

.section4{
    padding: 100px 10%;
}

.section4 h2{
    text-align: center;
    margin-bottom: 80px;
}

.lobo-item{
    display: flex;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}

.lobo-item.reverse{
    flex-direction: row-reverse;
}

.lobo-image-container{
    position: relative;
    flex: 1;
    height: fit-content;
}

.reverse .shadow-box{
    left: 20px;
}

.shadow-box{
    border: 4px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2C5680;
    top: -20px;
    left: -20px;
    z-index: 1;
}

.lobo-image-container img{
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.lobo-info{
    flex: 1.5;
}

.lobo-info h3 {
    font-size: 28px;
    margin-bottom: 5px;
    flex: 1.5;
}